<div class="container-fluid service-bg">
    <div class="align-end p-5 text-about">
        <h2 class="text-secondary text-center display-5">Our services</h2>
        <div class="row pt-5 mx-lg-5 mx-sm-3">
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/ads.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center">SEM = SEO SEA SMO</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/com.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center text-secondary">Communication 360°</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/digital.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center text-secondary">Digital Marketing</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/listener.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center text-secondary">Client Relationship</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/photo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center text-secondary">Vidéo</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-2">
                <div class="card-shadow card h-100 my-1">
                    <img class="card-img-top" src="../../../../assets/image/video.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title text-center text-secondary">Studio Photo</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>