<div class="container-fluid">
    <div class="w-50 my-5 text-center">
        <h2>Our Service</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip .</p>
    </div>
    <div class="row mx-lg-5 mx-sm-3">
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/ads.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Janvier</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/com.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Février</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/digital.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Mars</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/listener.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Avril</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/photo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Mai</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 my-2">
            <div class="card-shadow card h-100 my-1">
                <img class="card-img-top" src="../../../../assets/image/video.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Covid-19 Juin</h5>
                </div>
            </div>
        </div>
    </div>
</div>