body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    float: left;
}

nav {
    margin-right: 3%;
}

nav a {
    color: gray;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    float: right;
    padding: 5%;
    font-weight: bold;
}

nav a:hover {
    color: black;
}

hr {
    color: gray;
    width: 100%;
}

#soben {
    font-size: 80px;
    color: gray;
    margin-left: 65px;
    margin-top: 100px;
    display: block;
    font-weight: bold;
}

#apres_soben {
    font-size: 25px;
    color: gray;
    margin-left: 67px;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
}

.about_div {
    width: 45%;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    margin-top: 100px;
    margin-right: 67px;
}

.about_h {
    color: rgb(255, 255, 255);
    font-size: 35px;
    word-spacing: 8px;
}

.about_p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 35px;
    color: rgb(255, 255, 255);
    word-spacing: 8px;
}

.about_button {
    border-color: #e7e7e7;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

header {
    display: block;
    background-image: url("../image/soben1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 801px;
}

.section1 {
    background-image: url("../image/soben2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.section2 {
    background-image: url("../image/soben3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.section3 {
    background-image: url("../image/soben4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

h3 {
    color: gray;
}

.row {
    padding: 10px;
}

.column1 {
    float: left;
    width: 20%;
    padding: 30px;
    margin-top: 50px;
}

.column2 {
    float: left;
    width: 20%;
    padding: 30px;
    margin-top: 50px;
}

.column1:nth-child(3n) {
    float: left;
    width: 40%;
    padding: 30px;
    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
    color: gray;
    word-spacing: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    padding: 5px;
    color: white;
}

.contact_t {
    color: rgb(255, 255, 255);
    font-size: 35px;
    word-spacing: 8px;
    margin-left: 10%;
    padding-top: 7%;
}

.form {
    width: 90%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
    border: 0px solid;
    color: white;
}

.form_left {
    margin-left: 10%;
    float: left;
    margin-top: 5%;
    width: 40%;
    height: 45%;
}

.form_right {
    margin-right: 10%;
    float: right;
    margin-top: 5%;
    width: 40%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    height: 40%;
    text-align: center;
}

.info {
    padding: 4%;
    font-size: 1.2rem;
}

.form_button {
    margin-top: 2%;
    width: 30%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px solid;
    color: white;
}