.headerFooter {
    display: block;
    background-image: url("../../../../assets/image/soben1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}