<!-- Footer -->
<div class="footer pt-4 px-sm-3 px-lg-5">
    <div class="row">
        <div class="col-md-4 text-lg-start text-md-start text-center">
            <span class="fw-bold mb-0 text-secondary">Address</span><br>
            <span class="text-secondary">Phnom Penh, Cambodia</span>
        </div>
        <div class="col-md-4 text-lg-center text-md-center text-center">
            <span class="fw-bold mb-0 text-secondary">Phone Number</span><br>
            <span class="text-secondary">(+855) 123-456</span>
        </div>
        <div class="col-md-4 text-lg-end text-md-end text-center">
            <span class="fw-bold mb-0 text-secondary">Email Address</span><br>
            <span class="text-secondary">sobenmedia@gmail.com</span>
        </div>
    </div>
    <div class="text-center text-secondary">
        <span>Copyright © 2025 All rights reserved - Soben Media</span>
    </div>
</div>