<footer class="row mx-4 mt-3">
    <div class="col-md-5">
        <p class="fw-bold mb-0">Address</p>
        <p>Nouméa, New Calédonie</p>
    </div>
    <div class="col-md-5">
        <p class="fw-bold mb-0">Phone Number</p>
        <p>(+687) 921-225</p>
    </div>
    <div class="col-md-2">
        <p class="fw-bold mb-0">Email Address</p>
        <p>naktina168@gmail.com</p>
    </div>
    <div class="text-center">
        <p>Copyright © 2021 All rights reserved - Tina Nak</p>
    </div>
</footer>