<!-- Footer -->
<div class="footer px-sm-3 px-lg-5">
    <div class="row">
        <div class="col-md-4 text-lg-start text-md-start text-center">
            <p class="fw-bold mb-0">Address</p>
            <p>Phnom Penh, Cambodia</p>
        </div>
        <div class="col-md-4 text-lg-center text-md-center text-center">
            <p class="fw-bold mb-0">Phone Number</p>
            <p>(+855) 123-456</p>
        </div>
        <div class="col-md-4 text-lg-end text-md-end text-center">
            <p class="fw-bold mb-0">Email Address</p>
            <p>sobenmedia@gmail.com</p>
        </div>
    </div>
    <div class="text-center">
        <p>Copyright © 2025 All rights reserved - Soben Media</p>
    </div>
</div>