<div class="container-fluid contact-bg">
    <div class="row pt-5 mx-lg-5 mx-sm-3">
        <h2 class="mb-5 text-light display-5">Let's work together, Pleasure to meet you!</h2>
        <div class="row">
            <div class="col-6">
                <form>
                    <input class="form-control mb-3" type="text" name="firstname" placeholder="Subject">
                    <input class="form-control mb-3" type="text" name="firstname" placeholder="Name">
                    <input class="form-control mb-3" type="text" name="firstname" placeholder="Email">
                    <textarea class="form-control mb-3" name="name" rows="2" cols="50">Message</textarea><br>
                    <button class="btn btn-secondary text-light" type="submit" name="button">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </div>
</div>